ul {
  list-style-type: none;
  margin: 0;
  padding:0;
  background-color: #17252A ;
  overflow: hidden;
  width: 100%;
  display: inline-block;
}

li{
  float:left;
}

li a{
  display:block;
  color: #FEFFFF;
  text-align: center;
  padding: 25px;
  text-decoration:none;
font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
}

#nav {
  text-align: center;
}

.headings {
  padding: 20px;
  color:  #2B7A78;
  background-color:#DEF2F1;
  text-align: center;
  font-weight: bold;
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

img {
  max-width: 100%;
  height: auto;
  max-height:100%;
}

#bigTitle{
  font-size: 150px;
  text-align: center;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: darkslategray;
}

#bigHeading {
  text-align: center;
  color: white;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 40px;
  padding:10px;
  font-weight:700;
}

.backcolor {
   background-color: #3AAFA9;
}

#hoho {
  color: #17252A;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#text-center {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 25px;
  font-weight: 600;
  color: #17252A;
}

.list_look {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 15px;
  color:#FEFFFF;
  padding: 70px;
}

#check_any {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 15px;
  color: #FEFFFF;
}

.checkbox {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 15px;
  color:#FEFFFF;
}

h2 {
  text-align: center;
}

body {

  background-size: cover;
}

#pride{
  background-image: url("pride_flag.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#line {
  background-color: #2B7A78;
  color:#2B7A78;
  font-size: 4px;
}

.dropdown  {
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
}

.panel-default > .panel-heading {
    background-color: #17252A ;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#blurbs {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  background-color: #DEF2F1;
  font-size: 15px;
  color: #2B7A78;
  padding: 25px;
}

#blurb_title {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: 500;
  font-size: 20px;
  color: #FEFFFF;
  padding: 15px;
}

.panel-title {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: 400;
}
